%!TEX TS-program = lualatex
% -*- mode: LaTeX; -*-

\documentclass[a4paper,10pt,twoside]{root/support/latex/sbabook}
\usepackage[
        ignoreheadfoot
]{geometry}
\usepackage{import}
\subimport{root/support/latex/}{common.tex}

{{{content}}}