% -*- mode: latex; -*-
\ifx\wholebook\relax\else

	\documentclass[10pt,twoside]{root/support/latex/sbabook}
	\usepackage[% Lulu dimensions
		papersize={6.13in,9.21in},
		hmargin={.75in,.75in},
		vmargin={.75in,1in},
		ignoreheadfoot
	]{geometry}
  \usepackage{import}
  \subimport{root/support/latex/}{common.tex}

	\begin{document}
\fi

{{=« »=}}
\chapter{«& title»}
\chapterprecis{«& attribution»}

\sloppy

«! the '&' below prevents HTML escaping. »
«& content»
