*~
/crash.dmp
.DS_Store
/Pharo.changes
/Pharo.image
/pharo-vm
/pharo-ui
/vm.sh
/vm-ui.sh
/pharo
/pillar
files/
/package-cache
stderr
stdout
/book-result/
*/figures/Thumbs.db
/pillarPostExport.sh
/play-cache
/PharoDebug.log
/auto
